.sidenav {
   border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-container {
  height: 100%;
}

.sidenav-content {
  height: 100%;
  width: 100%;
  align-items: center;
  flex: 1;
}

.sidenav-menu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.sidenav-menu.expanded {
  transform: scaleY(1);
}


mat-toolbar {
  position: relative;
  z-index: 100;
  box-shadow: 0px 10px 20px rgba(8, 1, 1, 0.5);
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}

.rotated{
  transform: rotate(180deg);
}
.full-width {
  width: 100%;
}
