.example-container {
  height: 100%;
}
.sidenav-content {
  height: 100%;
  width: 100%;
  align-items: center;
}

mat-toolbar {
  position: relative;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.example-sidenav {
   border: 1px solid rgba(0, 0, 0, 0.5);
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.title {
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  box-shadow: 1px 1px 5px rgba(230, 226, 226, 0.3);
}

#main_header{
  position: relative;
  top: 0;
  left: 20%;
  height: 20%;
  width: 70%;
  align-content: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-size:40px;
  flex:auto;

}

#navigation {
  position:relative;
  display: flex;
  height: 20%;
  width: 100%;
}

#main-content {
  flex: auto;
  max-width: 100%;
  justify-content: center;
}

.sidenav-container {
  position:relative;
  top: 0;
  left: 0;
  height: 20%;
  width: 30%;
  flex: auto;
  height: auto;
  background-color: red;
}

.sidenav {
  width: 100%;
}

.sidenav-content {
  align-items: center;
}

.menu-button {
  text-align: left;
}

.content {
  margin-top: 0px;
  flex: 1;
  padding: 2rem;
}

.toolbar{
  align-content: center;
  text-align: center;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
  font-size:40px;
  flex:auto;

}

#main-app{
  position: absolute;
  width: 100%;
  height: 100%;
}
