<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3> {{ controllerName }} </h3>
  </mat-expansion-panel-header>
  <div align="center" class="channel_list">
    <table>
      <tr>
        <td>
        @for (controller_channel of channelList(); track $index){
          <app-channel
            [(channelNo)]=controller_channel.channelNo
            [(channelName)]=controller_channel.channelName
            [(channelEnabled)]=controller_channel.channelEnabled
            [(buttonColor)]=controller_channel.buttonColor
          >
          </app-channel>
        }
        </td>
      </tr>
    </table>
  </div>
  <mat-action-row align="center">
    <button mat-button (click)="toggleAllOn()">All On</button>
    <button mat-button (click)="toggleAllOff()">All Off</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
