<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3> {{ controllerName }} </h3>
  </mat-expansion-panel-header>
  <div align="center" class="channel_list">
    <table>
      <tr><td> "A table Row" </td></tr>
      <tr>
        <td> " Another table Row"
      <!--
        @for (channel of channels; track $index){
          channel.name
          <app-channel [selectedChannelName] = channelList.name ></app-channel>
        }
      -->
        </td>
      </tr>
    </table>
  </div>
  <mat-action-row align="center">
    <button mat-button (click)="toggleAllOn()">All On</button>
    <button mat-button (click)="toggleAllOff()">All Off</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
